##OSX stuff
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.AppleDouble
.LSOverride



#Testing/Dev/Etc
stuff.txt
.grunt/
.gulp/
.publish/
node_modules/


##Sublime Text stuff
*.sublime-project
*.sublime-workspace